<h2>List of topics:</h2>

<ul>
  <li routerLink="/interpolation"routerLinkActive="active"><h3>Interpolation</h3></li>
  <li routerLink="/class-binding"><h3 >Class binding</h3></li>
  <li routerLink="/property-binding"><h3>Property binding</h3></li>
  <li routerLink="/style-binding"><h3>Style binding</h3></li>
  <li routerLink="/event-binding"><h3>Event binding</h3></li>
  <li routerLink="/twd-binding"><h3>Two way data binding</h3></li>
  <li routerLink="/if"><h3>If directive</h3></li>
  <li routerLink="/for"><h3>For directive</h3></li>
  <li routerLink="/switch"><h3>switch directive</h3></li>
  <li routerLink="/tempRefVar"><h3>Template Reference Variable</h3></li>
  <li routerLink="/compCom"><h3>Component communication</h3></li>
  <li routerLink="/pipes"><h3>Pipes</h3></li>
  <li routerLink="/mobiles"><h3>Mobiles</h3></li>
</ul>
