<!-- as a custom html element -->
<!-- <app-home></app-home> -->

<!-- as a class value for html element -->
<!-- for this we have to add . before selector of that element eg: selector: ".app-home" -->
<!-- <div class="app-home"></div> -->

<!-- as a property for html element -->
<!-- for this we have to kept home selector in square brackets eg:  selector: "[app-home]" -->
<!-- <div app-home></div> -->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-pbinding></app-pbinding> -->

<!-- <app-c-binding></app-c-binding> -->

<!-- <app-s-binding></app-s-binding> -->

<!-- <app-e-binding></app-e-binding> -->

<!-- <app-tw-binding></app-tw-binding> -->

<!-- <app-if></app-if> -->

<!-- <app-switch></app-switch> -->

<!-- <app-for></app-for> -->

<!-- <app-parent></app-parent> -->
<div class="container-fluid">
  <div [ngClass]="darkMode ? 'container dark-mode' : 'container normal-mode'">
    <h1>Hello, welcome to angular tutorial</h1>
    <div class="theme-button">
      <mat-slide-toggle [(ngModel)]="darkMode" class="toggle-button">Dark mode</mat-slide-toggle>
    </div>
    <hr />
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <nav>
  <ul>
    <li><h5 routerLink="/for" routerLinkActive="active">ngFor</h5></li>
    <li><h5 routerLink="/if" routerLinkActive="active">ngIf</h5></li>
    <li><h5 routerLink="/switch" routerLinkActive="active">ngSwitch</h5></li>
  </ul>
</nav> -->
